/* ##### common ##### */
.new {
	background-color: #fce9b2;
}
.new:focus {
	background-color: #fce2c8;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 0.9rem;
	color: #1A2942;
}
a {
	text-decoration: none;
}
.cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}
.col-1 {
	flex-basis: 100%;
}
.col-2 {
	flex-basis: 50%;
}
.col-4 {
	flex-basis: 25%;
}
.visible {
	visibility: visible;
	opacity: 1;
	transition: all 0.6s ease;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}

/* ##### main screen layout ##### */
body {
	height: 100vh;
}
header {
	height: 5vh;
	padding: 1px 40px;
	background: linear-gradient(#ccc, 80%,  #a1a1a1);
}
header .cont {
	height: 100%;
}
header div {
	display: flex;
	align-items: center;
}
header h1{
	font-size: 1.2rem;
}
header .logo img {
	height: 5vh;
}
main {
	height: 92vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.menu ul li {
	display: inline-block;
	list-style: none;
	padding: 2px 4px;
}
.menu a:hover {
	color: #0e3d87;
	text-decoration: underline;
}
.half-screen {
	display: flex;
	justify-content: center;
	flex: 1 1 50%;
	background-color: silver;
	padding: 3px;
	align-self: stretch;
	position: relative;
}
.half-screen:first-child {
	padding: 3px 1.5px 3px 3px;
}
.half-screen:last-child {
	padding: 3px 3px 3px 1.5px;
}
.left {
	flex: 1 1 50%;
	padding: 15px 40px;
	overflow-y: scroll;
	background: #fff;
}
.left h5 {
	font-size: 1.2rem;
	margin: 0 auto 10px;
}
.right {
	flex: 1 1 50%;
	padding: 15px 28px;
	overflow-y: scroll;
}
.right div {
	display: inline;
}
.no-transform {
	display: inline-block;
	text-transform: none;
	color: inherit;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 3vh;
	padding: 1px 40px;
	background: #fff;
}
footer .cont {
	height: 100%;
	display: flex;
	align-items: center;
}

/* ##### main inputs style ##### */
.col-1 label {
	display: inline-block;
	width: 20%;
}
.col-1 input {
	vertical-align: top;
	box-sizing: border-box;
	width: 78.5%;
	height: 1.5rem;
	margin-right: 1.5%;
}
.input-item {
	margin-bottom: 10px;
	font-size: 0;
}
.col-2 label {
	display: inline-block;
	width: 40%;
}
.col-2 input {
	vertical-align: top;
	box-sizing: border-box;
	width: 57%;
	height: 1.5rem;
	margin-right: 3%;
}
.col-2 input.short {
	width: 40%;
}
.col-2 input.extra {
	width: 14%;
}
.col-4 p {
	display: flex;
	align-items: center;
	height: 100%;
}
.radio-item {
	width: 80%;
}
label[for="ordrsp"]::before {
	content: "ordrsp";
}
label[for="desadv"]::before {
	content: "desadv";
}
label[for="recadv"]::before {
	content: "recadv";
}
.radio-item label::before {
	display: inline-block;
	visibility: visible;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #ccc;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	padding: 2px 0;
	cursor: pointer;
	transition: all 0.2s ease;
}
.radio-item label:hover::before {
	background-color: #a1a1a1;
	border-color: gray;
	transition: all 0.2s ease;
}
.radio-item input:checked + label::before {
	background-color: #a1a1a1;
	border-color: gray;
	color: #fff;
	box-shadow: inset 1px 1px 1px gray;
	transition: all 0.3s ease;
}
.radio-item input {
	visibility: hidden;
}
.radio-item label {
	visibility: hidden;
}
input {
	border-width: 2px;
	border-style: solid;
	border-color: #a8a8a8 #eee #eee #a8a8a8;
	border-radius: 5px;
	padding: 0 5px;
	outline: none;
	transition: all 0.2s ease;
}
input:focus {
	border-width: 2px;
	border-style: solid;
	border-color: #89aadd #c8daf4 #c8daf4 #89aadd;
	background-color: #fcfdff;
}
select {
	padding: 2px 5px;
	border-radius: 5px;
	background-color: #ccc;
	outline: none;
	min-width: 57%;
}
select option {
	background-color: #eee;
}
.input-item select {
	vertical-align: top;
}
.goods-section {
	margin-bottom: 60px;
}
/* ##### goods' specifications ##### */
.goods-section {
	padding-top: 5px;
}
.item-number {
	position: relative;
	border-top: 1px solid #89aadd;
	padding-top: 1.4rem;
	margin-top: 1rem;
	margin-right: 1.5%;
}
.goods-section h6 {
	display: inline-block;
	position: absolute;
	font-size: 1.1rem;
	top: -1rem;
	left: 2rem;
	background-color: #fff;
	color: #444;
	padding: 5px;
}
.good-header {
	margin-bottom: 10px;
	font-size: 0;
}

/* ##### buttons ##### */
.btn {
	position: absolute;
	right: 40px;
	bottom: 40px;
	padding: 10px 0;
	width: 110px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: green;
	color: white;
	outline: none;
	border: 1px solid #333;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #333;
	z-index: 10;
}
.btn:active {
	box-shadow: -1px -1px 1px #333;
	right: 39px;
	bottom: 39px;
}
#next {
	font-family: Arial, sans-serif;
	position: relative;
	width: 5rem;
	height: 1.6rem;
	margin-bottom: 0.3rem;
	border: none;
	outline: none;
	padding: 3px 0;
	cursor: pointer;
	background-color: #1A2942;
	color: #fff;
	border-radius: 3px 3px 0 0;
}
#next::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 1.6rem;
	left: 0;
	border-top: 8px solid #1A2942;
	border-left: 2.5rem solid transparent;
	border-right: 2.5rem solid transparent;
}

/* ##### code style ##### */
#code {
	background: #1A2942;
	text-transform: uppercase;
	color: white;
}
.brackets, .slash {
	color: silver;
}
.tagname {
	color: #1DAE19;
	text-transform: uppercase;
}
.tab {
	letter-spacing: 0.2rem;
}

/* ##### notifications and loader ##### */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
}
#about-window {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -200px;
	height: 280px;
	width: 400px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	z-index: 1000;
}
.about-header {
	position: relative;
	top: -1px;
	left: -1px;
	height: 18px;
	width: 400px;
	background: linear-gradient(#ccc, 80%,  #a1a1a1);
	border-radius: 5px 5px 0 0;
	text-align: center;
	text-transform: capitalize;
}
.about-header h6 {
	line-height: 18px;
}
.about-header .close{
	position: absolute;
	top: 2px;
	right: 10px;
	cursor: pointer;
}
.about-body {
	height: 170px;
	padding: 10px;
}
.about-body p {
	margin-bottom: 10px;
}
.notification {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -200px;
	min-height: 120px;
	width: 400px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	z-index: 1000;
}
.notification-header {
	position: relative;
	top: -1px;
	left: -1px;
	height: 18px;
	width: 400px;
	background: linear-gradient(red, 80%,  darkred);
	border-radius: 5px 5px 0 0;
	text-align: center;
	text-transform: capitalize;
}
.notification-header h6 {
	line-height: 18px;
}
.notification-header .close{
	position: absolute;
	top: 2px;
	right: 10px;
	cursor: pointer;
}
.notification-body {
	padding: 10px;
}
.loader {
	position: absolute;
	color: red;
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	border-radius: 50%;
	border: 5px solid rgba(20, 20, 20, 0.5);
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.4s linear infinite;
}
.loader::before {
	content: "";
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: white;
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ##### media ##### */
@media screen and (max-width: 1000px) {
	.col-2 {
		flex-basis: 100%;
	}
	.col-4 {
		flex-basis: 100%;
	}
	.col-1 > input {
		width: 97%;
	}
	.item-number {
		margin-right: 3%;
	}
	.radio-item {
		width: 97%;
		margin-top: -10px;
		margin-bottom: -10px;
	}
}
@media screen and (max-width: 800px) {
	main {
		display: block;
		overflow-y: scroll;
	}
	.left, .right {
		overflow-y: auto;
	}
	#copy {
		top: 40px; 
		bottom: auto;
	}
}
@media screen and (max-width: 450px) {
	.sign {
		text-align: center;
		display: block;
	}
	header>.cont {
		display: block;
	}
	#about-window {
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		margin-top: 0;
		margin-left: 0;
		border-radius: 0;
	}
	.about-header {
		width: 100vw;
	}
	.notification {
		height: 50vh;
		width: 80vw;
		top: 50px;
		left: 50%;
		margin-top: 0;
		margin-left: -40vw;
		border-radius: 0;
	}
	.notification-header {
		position: relative;
		top: -1px;
		left: -1px;
		height: 18px;
		width: 100%;
		border-radius: 0;
	}
	.half-screen:first-child {
		padding: 0 0 3px 0;
	}
	.half-screen {
		padding: 0;
	}
	.logo,
	.menu {
		display: none;
	}
}
@media screen and (max-width: 170px) {
	* {
		display: none;
	}
	html {
		display: block;
	}
	html::after {
		display: block;
		content: "Oh come on. Nobody will use less than 170px screen";
		text-align: center;
		padding-top: 30%;
	}
}